#container {
  display: -webkit-flex;
  position: absolute;
  width: 70%;
  height:280px;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  border: 1px #666 dashed;
}

#rules {
  border-style: double;
  -webkit-flex: 1;
          flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login {
  -webkit-flex: 1;
          flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#user-wrapper {
  width: 280px;
  margin: 0 auto;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginBtn {
  float: right;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}