#container {
	background-color: pink;
	width: 100%;
	position:absolute;
}

.left-div {
	float: left;
	width: 40%;
	margin: auto;
}

.right-div {
	float: left;
	width: 60%;
	margin: auto;
}

#div1 {
	clear: both;
}

#div2 {
	background-color: orange;
}

#div3 {
	background-color: lightblue;
}

#blood{
	background-color: red;
}
#exp{
	background-color: yellow;
}
#userdata {

margin-right:1500px;

}

h2.pos_right{
	position:relative;
	left:600px
}
.fl{
	float:left;display:inline;
}
.fr{
	float:right;display:inline;
}
.leftcolSup{
	width:450px;height:320px;
}
.leftcol{
	width:450px;height:40px;
}
.rightcol{
	width:90px;height:40px;
}
.main{
	height:1000px;background-color:blue;
}
.content{
	width:900px;margin:10px auto;
}
.cl{
	clear:both;
}
