#container {
	width: 100%;
	padding: 10%;
	position:absolute;
}

.left-div {
	float: left;
	width: 40%;
	margin: 0 auto;
}

.right-div {
	float: left;
	width: 60%;
	padding-left: 2%;
	margin: auto;
}

#div1 {
	clear: both;
}

#blood {
	background-color: red;
}
#exp {
	background-color: yellow;
}

#userdata {
	margin-right:1500px;
}

h2.pos_right{
	position:relative;
	left:600px
}
.fl{
	float:left;display:inline;
}
.fr{
	float:right;display:inline;
}
.leftcolSup{
	width:450px;height:320px;
}
.leftcol{
	width:450px;height:40px;
}
.rightcol{
	width:90px;height:40px;
}
.main{
	height:1000px;background-color:blue;
}
.content{
	width:900px;margin:10px auto;
}
.cl{
	clear:both;
}
